h2{
    color:darkblue;
}
p{
    font-size: 1.1em;
}
img{
    width: 256px;
    height: 256px;
}

@media only screen and (max-width: 600px) {
    img {
        width: 196px;
        height: 196px;
    }
    p {
        font-size: .95em;
    }
}